{% extends 'global/pages/base.html' %}

{% block title %}Dashboard |{% endblock title %}

{% block content %}

    <div class="font-robo">
        <h1>Dashboard</h1>
        <span>
            Clique aqui para <a href="{% url 'accounts:logout' %}">sair</a>.
        </span>
        <div>
            <a href="{% url 'dashboard:new_opt_task' %}">
                Nova tarefa de otimização
            </a>
            <br>
            <a href="{% url 'dashboard:new_fs_task' %}">
                Nova tarefa de seleção de características
            </a>
        </div>
        <div>
            <h2>Suas tarefas:</h2>
            <ul>
                {% for task in tasks %}
                    <li>
                        <a href="{% url 'dashboard:task_detail' task.task_id %}">{{ task.task_id }}</a>
                    </li>
                {% empty %}
                    <span>Você ainda não possui tarefas.</span>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}