{% extends 'global/pages/base.html' %}

{% block title %}Dashboard |{% endblock title %}

{% block content %}

    <div class="font-robo">
        <h1>Dashboard</h1>
        <span>
            Clique aqui para <a href="{% url 'accounts:logout' %}">sair</a>.
        </span>
        <div>
            <a href="{% url 'dashboard:new_opt_task' %}">
                Nova tarefa de otimização
            </a>
        </div>
        <div>
            <h2>Suas tarefas:</h2>
            <ul>
                {% for task in tasks %}
                    <li>
                        {% if task.task_name == 'optimization' %}
                            <a href="{% url 'dashboard:opt_task' task.task_id %}">{{ task.task_id }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock content %}