{% extends 'global/pages/base.html' %}

{% block title %}{{ title }} |{% endblock title %}

{% block header %}
    
    {% include 'global/partials/navbar.html' %}
    
{% endblock header %}

{% block content %}
    
    <div class="font-robo custom-container">
        <div class="dash-content">
            <div class="custom-card">
                <form action="{{form_action}}" method="post">
                    {% csrf_token %}
        
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    
                    <div class="button-div p-t-15 a-right">
                        <button class="btn btn-basic btn-success btn-radius" type="submit">
                            Executar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}