{% extends 'global/pages/base.html' %}

{% block title %}Nova Tarefa de {{ task_type }} |{% endblock title %}

{% block content %}

    <div class="font-robo">
        <form action="{% url 'dashboard:start_opt_task' %}" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            
            <div class="button-div p-t-15 a-right">
                <button class="btn btn-radius btn-blue" type="submit">
                    Iniciar
                </button>
            </div>
        </form>
    </div>

{% endblock content %}