{% extends 'global/pages/base.html' %}

{% block title %}{{ title }} |{% endblock title %}

{% block content %}

    <div class="font-robo custom-container">
        <div class="dash-content">
            <div class="custom-card">
                {% include 'dashboard/partials/task_details_card.html' %}
            </div>
            
            <div id="progress-bar-wrapper" class="custom-card">
                <h1>Progresso</h1>

                <div class="progress">
                    <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar">&nbsp;</div>
                </div>
                
                <div id="progress-bar-status">
                    Esperando a tarefa iniciar...
                </div>
            </div>
            
            <div class="custom-card">
                <h1>Resultados</h1>

                <div id="task-result">
                    <span>Após a execução, resultados aparecem aqui!</span>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}

    {% load static %}
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script src="{% static 'dashboard/js/scripts.js' %}"></script>

    <script>
        let progressURL = "{% url 'dashboard:task_progress' task.task_id %}"
        let resultURL = "{% url 'dashboard:task_result' task.task_id %}"
        initializeProgressBar(progressURL, resultURL)
    </script>

{% endblock scripts %}