{% extends 'global/pages/base.html' %}

{% block title %}Tarefa de {{ task_type }} {{ task_id }} |{% endblock title %}

{% block header %}
    
    {% include 'global/partials/navbar.html' %}

{% endblock header %}

{% block content %}

    <div class="page-wrapper-column font-robo">
        <div>
            <h1>Tarefa de {{ task_type }} {{ task_id }}</h1>
        </div>
        
        <div id='progress-bar-wrapper'>
            <div class="progress">
                <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar">&nbsp;</div>
            </div>
    
            <div id="progress-bar-status">Esperando a tarefa iniciar...</div>
        </div>

        <div id="task-result">Após a execução, resultados aparecem aqui!</div>
    </div>

{% endblock content %}

{% block scripts %}

    {% load static %}
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    <script src="{% static 'dashboard/scripts.js' %}"></script>

    <script>
        let progressURL = "{% url 'dashboard:task_progress' task_id %}"
        let resultURL = "{% url 'dashboard:task_result' task_id %}"
        initializeProgressBar(progressURL, resultURL)
    </script>

{% endblock scripts %}