<form  action="{{ form_action }}" method="POST">
    {% csrf_token %}

    {% if form.errors %}
        <div class="form-group">
           <p class="text-danger">
                Há erros no formulário. Conserte-os e tente novamente.
           </p>
        </div>
    {% endif %}

    <fieldset id="{% if form.id %}{{ form.id }}{% endif %}">
        {% for field in form %}
            <div class="{% if field.field.widget.input_type == 'checkbox' %}inline-{% endif %}form-group">
                <label class="label bold" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </fieldset>

    <div class="button-div p-t-15 a-right">
        <button class="btn btn--radius-2 btn--blue" type="submit">
            Continuar
        </button>
    </div>                  
</form>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({placement: 'bottom'})
    })
</script>