<form  action="{{ form_action }}" method="POST" novalidate>
    {% csrf_token %}

    {% load widget_tweaks %}
    
    <fieldset>
        {% for field in form %}

            <div class="{% if field|widget_type == 'checkboxinput' %}inline-{% endif %}form-group{% if form.name == 'signup_form' and field.label != 'Usuário' and field.label != 'E-mail' %}-half{% endif %}">

                {% if not form.errors %}
                    {{ field }}
                {% else %}
                    {% if field.errors %}
                        {{ field|add_class:'is-invalid' }}

                        {% for error in field.errors %}
                            <p class="text-danger">{{ error }}</p>
                        {% endfor %}
                    {% else %}
                        {{ field|add_class:'is-valid' }}
                        <p class="text-success">Parece certo!</p>
                    {% endif %}
                {% endif %}
                
                {% if field|widget_type == 'checkboxinput' %}
                    <label class="label bold" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                {% endif %}

            </div>
            
        {% endfor %}
    </fieldset>
    
    <div class = "button-span">
        {% if form.name == 'signup_form' %}
            <div class="p-t-20">
                <span>
                    Já tem uma? 
                    <a href="{% url 'accounts:login' %}">
                        Entre em sua conta!
                    </a>  
                </span>
            </div>
        {% endif %}

        {% if form.name == 'login_form' %}
            <div class="p-t-20">
                <div>
                    Novo por aqui? 
                    <a href="{% url 'accounts:signup' %}">
                        Crie uma conta!
                    </a>  
                </div>
                <div>
                    Esqueceu sua senha?
                    <a href="{% url 'accounts:reset_password' %}">
                        Clique aqui!
                    </a>  
                </div>
            </div>
        {% endif %}

        <div class="button-div p-t-15 a-right">
            <button class="btn btn--radius-2 btn--blue" type="submit">
                Continuar
            </button>
        </div>                  
    </div>

</form>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip({placement: 'bottom'})
    })
</script>