<div class="page-wrapper bg-gra-03 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">{{form_name}}</h2>
                    <form action="{{ form_action }}" method="POST">
                        {% csrf_token %}

                        {% for field in form %}
                                <div class="input-group">
                                    <label class="label bold" for="{{ field.id_for_label }}">
                                        {{ field.label }}
                                    </label>
                                    {{ field }}
                                    
                                    {% if form_name == "Cadastro"%}
                                        <span class="help-block">
                                        {% if field.label == "Senha"%}
                                            A senha deve conter entre 8 e 20 caracteres.
                                        {% elif field.label == "Confirmar senha"%}
                                            As senhas devem ser iguais.
                                        {% endif %}
                                        </span>
                                    {% endif %}
                                </div>
                        {% endfor %}
                        

                        {% if form_name == "Login" %}
                        <span>
                            Ainda não tem uma conta? <a href="{% url 'accounts:signup' %}">Clique aqui</a>.  
                        </span>
                        {% endif %}

                        <div class="p-t-15 a-right">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Entrar</button>
                        </div>
                        
                    </form>  
            </div>
        </div>
    </div>
</div>