{% extends 'global/pages/base.html' %}

{% block title %}{{ page_title }} |{% endblock title %}

{% block content %}
    
    <div class="page-wrapper gradient font-poppins">
        <div class="card form-card wrapper-w{% if form.name == 'signup_form' %}680{% else %}480{% endif %}">
            <div class="card-body">
                <h2 class="title">{{ form_title }}</h2>
                
                {% include 'global/partials/messages.html' %}

                {% include 'accounts/partials/form.html' %}
            </div>
        </div>
    </div>

{% endblock content %}