{% extends 'global/pages/base.html' %}

{% block title %}{{ title }} |{% endblock title %}

{% block header %}

    {% include 'global/partials/navbar.html' %}
    
{% endblock header %}

{% block content %}
    
    <div class="page-wrapper font-poppins">
        <div class="custom-card account-card wrapper-w{% if form.name == 'signup_form' %}680{% else %}480{% endif %}">
            <div class="card-body">
                <h2>{{ form_title }}</h2>
                
                {% include 'global/partials/messages.html' %}
                
                {% if form %}
                    {% include 'accounts/partials/form.html' %}
                {% endif %}

                {% if more_details %}
                    <h6 class="text-secondary">{{ more_details }}</h6>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}

    {% load static %}
    <script src="{% static 'accounts/js/scripts.js' %}"></script>

{% endblock scripts %}