{% extends 'global/base.html' %}

{% block title %}Login |{% endblock title %}

{% block content %}

    <div class="page-wrapper bg-gra-03 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Entre em sua conta</h2>        
                    
                    {% include 'global/partials/messages.html' %}

                    {% include 'accounts/partials/form.html' %}

                    <div class="p-t-20">
                        <span>
                            Ainda não tem? 
                            <a href="{% url 'accounts:signup' %}">
                                Crie uma!
                            </a>  
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}