{% extends 'global/base.html' %}

{% block title %}Login |{% endblock title %}

{% block content %}

    <div class="page-wrapper bg-gra-03 font-poppins">
        <div class="card card-4 wrapper-w480">
            <div class="card-body">
                <h2 class="title">Entre em sua conta</h2>     
                            
                {% include 'global/partials/messages.html' %}

                {% include 'accounts/partials/form.html' %}
            </div>
        </div>
    </div>

{% endblock content %}