{% extends 'global/pages/base.html' %}

{% block title %}Pedido de Redefinição de Senha |{% endblock title %}

{% block content %}

    <div class="page-wrapper gradient font-poppins">
        <div class="card card-4 wrapper-w480">
            <div class="card-body">
                <h2 class="title">Peça uma nova senha</h2>     
                            
                {% include 'global/partials/messages.html' %}

                {% include 'accounts/partials/form.html' %}
            </div>
        </div>
    </div>

{% endblock content %}