{% extends 'global/pages/base.html' %}

{% block title %}Redefinição de Senha |{% endblock title %}

{% block content %}

    <div class="page-wrapper bg-gra-03 font-poppins">
        <div class="card card-4 wrapper-w480">
            <div class="card-body">
                <h2 class="title">Redefina sua senha</h2>     
                            
                {% include 'global/partials/messages.html' %}
                
                {% if form %}
                    {% include 'accounts/partials/form.html' %}
                {% else %}
                    <span>Link de redefinição de senha não é válido!</span>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}