{% extends 'global/base.html' %}

{% block title %}Cadastro |{% endblock title %}

{% block content %}
    
    <div class="page-wrapper bg-gra-03 font-poppins">
        <div class="card card-4 wrapper--w680">
            <div class="card-body">
                <h2 class="title">Crie sua conta</h2>        
                
                {% include 'global/partials/messages.html' %}

                {% include 'accounts/partials/form.html' %}

                <div class="p-t-20">
                    <span>
                        Já tem uma? 
                        <a href="{% url 'accounts:login' %}">
                            Entre em sua conta!
                        </a>  
                    </span>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}