<nav class="navbar navbar-expand-lg navbar-light gradient-h">
    <div class="navbar-content">
        <a class="navbar-brand brand-font" href="{% url 'dashboard:index' %}">
            {% load static %}
            <img src="{% static 'global/images/meta.png' %}" width="30" height="30" class="d-inline-block align-top" alt="logo">
            <span>MetaOPT</span>
        </a>
        
        <span class="nav-logout">
            <a href="{% url 'accounts:logout' %}" class="nav-font">
                <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                Logout
            </a>
        </span>
    </div>
 </nav>