{% if title in 'Otimização' %}
    <h4 class="task-description">
        As tarefas de otimização do MetaOPT procuram empregar meta-heurísticas para minimizar uma função de teste. As heurísticas são flexiveís e capazes de encontrar boas soluções para vários problemas. Quanto às funções de teste, pode-se dizer que são problemas artificias de diferentes níveis de dificuldade, servindo para avaliar a performance e a convergência dos otimizadores. Disponibilizam-se aqui os algoritmos e as funções mais populares da literatura.
    </h4>
{% endif %}