<form class="task-form" action="{{form_action}}" method="post">
    {% csrf_token %}
    
    <fieldset>
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.label == 'Base de Dados' %}
                    <div id="load-info">
                        <div id="render-info"></div>
                    </div>
                {% endif %}
            </div>
            

            {% if field.label == 'Função' or field.label == 'Função de Transferência' %}
                <div id="expression-wrapper" class="text-center">
                    <div id="render-expression"></div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    
    <div class="button-div p-t-15 a-right">
        <button class="btn btn-basic btn-success btn-radius" type="submit">
            Iniciar tarefa
        </button>
    </div>
</form>