<table class="table striped">
    <thead>
        <tr>
            <th scope="col">Identificador</th>
            <th scope="col" class="text-center">Tipo</th>
            <th scope="col" class="text-center">Otimizador</th>
            <th scope="col" class="text-center">Função Objetivo</th>
            <th scope="col" class="text-center">Base de Dados</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col">Criada em</th>
        </tr>
    </thead>
    
    <tbody>
        {% for task in tasks %}
            <tr>
                <th scope="row">
                    <a href="{% url 'dashboard:task_detail' task.task_id %}">
                        {{ task.task_id }}
                    </a>
                </th>
                
                <td class="text-center">{{ task.task_name.split.0 }}</td>

                <td class="text-center">
                    {{ task.task_kwargs.optimizer.acronym }}
                </td>

                {% if task.task_name == 'Seleção de Características' %}
                    <td class="text-center">
                        Classificador {{ task.task_kwargs.function }}
                    </td>
                    <td class="text-center">{{ task.task_kwargs.dataset }}</td>
                {% else %}
                    <td class="text-center">
                        {{ task.task_kwargs.function.name }}
                    </td>
                    <td class="text-center text-secondary">Não se aplica</td>
                {% endif %}

                <td class="text-center">
                    <span class="{% if task.status == 'Sucesso' %}text-success{% elif task.status == 'Progresso' %}text-primary{% elif task.status == 'Falha' %}text-danger{% elif task.status == 'Pendente' %}text-warning{% else %}text-dark{% endif %}">
                        {{ task.status }}
                    </span>
                </td>

                <td>{{ task.date_created }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="100">
                    Você ainda não possui tarefas.
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>