{% if title in 'Otimização' %}
    <h4 class="task-description">
        As tarefas de otimização do MetaOPT procuram empregar meta-heurísticas para minimizar uma função de teste. As heurísticas são otimizadores flexiveís e capazes de encontrar soluções boas para diversos problemas. Disponibilizam-se aqui os algoritmos mais utilizados na literatura. Por sua vez, as funções de teste são problemas artificias de diferentes níveis de dificuldade. Disponibilizam-se aqui os problemas mais aplicados na análise de performance e convergências dos otimizadores.
    </h4>
{% endif %}