<div class="custom-card">
    <h1>
        <button class="btn-collapse collapsed" data-bs-toggle="collapse" data-bs-target="#collapse-target" aria-expanded="false">
            Parâmetros de Execução
        </button>
    </h1>

    <div id="collapse-target" class="collapse">
        <table class="table table-sm striped table-nowrap">
            <thead>
                <tr>
                    <th class="th-sm"></th>
                    <th class="th-sm"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="col-sm">
                    <th scope="row" class="sm">Otimizador</th>
                    <td>
                        {{ task.task_kwargs.optimizer.name }}
                        ({{ task.task_kwargs.optimizer.acronym }})
                    </td>
                </tr>

                {% if task.task_name == 'Otimização' %}
                    <tr class="col-sm">
                        <th scope="row" class="sm">Função objetivo</th>
                        <td>
                            {{ task.task_kwargs.function.name }}
                        </td>
                    </tr>
                    <tr class="col-sm">
                        <th scope="row" class="sm">Espaço de busca</th>
                        <td>
                        <span>
                            <b>Dimensão:</b>
                            {{ task.task_kwargs.space.dimension }}
                        </span>
                        </br>
                        <span>
                            <b>Limite inferior:</b>
                            {{ task.task_kwargs.space.lower_bound }}
                        </span>
                        </br>
                        <span>
                            <b>Limite superior:</b>
                            {{ task.task_kwargs.space.upper_bound }}
                        </span>
                        </td>
                    </tr>
                {% else %}
                    <tr class="col-sm">
                        <th scope="row" class="sm">Função objetivo</th>
                        <td>
                            {{ task.task_kwargs.function }}
                        </td>
                    </tr>
                    <tr class="col-sm">
                        <th scope="row" class="sm">Espaço de busca</th>
                        <td>
                            <span>
                                <b>Dimensão:</b>
                                {{ task.task_kwargs.dimension }}
                            </span>
                            </br>
                            <span>
                                <b>Limite inferior:</b>
                                0 para todas as variáveis
                            </span>
                            </br>
                            <span>
                                <b>Limite superior:</b>
                                1 para todas as variáveis
                            </span>
                        </td>
                    </tr>
                    <tr class="col-sm">
                        <th scope="row" class="sm">Base de dados</th>
                        <td>
                            {{ task.task_kwargs.dataset }}
                        </td>
                    </tr>
                    <tr class="col-sm">
                        <th scope="row" class="sm">Função de transferência</th>
                        <td>
                            {{ task.task_kwargs.transfer_function|title }}
                        </td>
                    </tr>
                {% endif %}
        
                <tr class="col-sm">
                    <th scope="row" class="sm">Número de agentes</th>
                    <td>
                        {{ task.task_kwargs.agents }}
                    </td>
                </tr>
                <tr class="col-sm">
                    <th scope="row" class="sm">Número de iterações</th>
                    <td>
                        {{ task.task_kwargs.iterations }}
                    </td>
                </tr>
                <tr class="col-sm">
                    <th scope="row" class="sm">Número de execuções</th>
                    <td>
                        {{ task.task_kwargs.executions }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>