<nav class="navbar gradient-h">
    <div class="navbar-content">
        <div class="left-nav">
            <a href="{% url 'dashboard:index' %}" class="nav-link">
                <h2>MetaOPT</h2>
            </a>
        </div>

        <div class="right-nav">
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'dashboard:index' %}">
                    Dashboard
                </a>

                <a class="nav-link" href="{% url 'dashboard:new_opt_task' %}">
                    Otimização
                </a>

                <a class="nav-link" href="{% url 'dashboard:new_fs_task' %}">
                    Seleção de Características
                </a>

                <a href="{% url 'accounts:logout' %}" class="logout-nav">
                    <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                    <span>Logout</span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'accounts:login' %}">
                    Login
                </a>

                <a class="nav-link" href="{% url 'accounts:signup' %}">
                    Cadastro
                </a>

                <a class="nav-link" href="{% url 'accounts:password_reset' %}">
                    Redefinição de Senha
                </a>
            {% endif %}
        </div>
    </div>

    <div class="subnavbar">
        <div class="subnavbar-content">
            <div class="left-nav">
                <h3>{{ title }}</h3>

                {% if return_to %}
                    <span>|</span>

                    <a href="{{ return_to }}" class="nav-link">
                        <span>Retornar</span>
                    </a>
                {% endif %}
            </div>
            
            <div class="right-nav">
                {% if user.is_authenticated %}
                    <span>
                        Bem-vindo, 
                        {% if user.first_name %} 
                            {{ user.first_name }}!
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    </span>
                {% else %}
                    <span>
                        Bem-vindo, visitante!
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
 </nav>