<nav class="navbar gradient-h">
    <div class="navbar-content">
        <div class="left-nav">
            <a href="{% url 'dashboard:index' %}">
                <h2 class="navbar-logo">MetaOPT</h2>
            </a>

            <h3 class="fw-bold">{{ title }}</h3>
        </div>
        

        <div class="right-nav">
            {% if user.is_authenticated %}
                <span>
                    Bem-vindo, 
                    {% if user.first_name %} 
                        {{ user.first_name }}!
                    {% else %}
                        {{ user.username }}
                    {% endif %}
                </span>

                <a href="{% url 'accounts:logout' %}">
                    <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                    <span>Logout</span>
                </a>
            {% else %}
                <span>
                    Bem-vindo, visitante!
                </span>
            {% endif %}
        </div>
    </div>
 </nav>