<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'global/partials/head.html' %}
    
    {% block head_scripts %}{% endblock head_scripts %}
    
    <title>{% block title %}{% endblock title %} MetaOPT</title>
</head>
<body>
    <header>
        {% block header %}

            {% include 'global/partials/navbar.html' %}

        {% endblock header %}
    </header>
    
    <main>
        {% block content %}{% endblock content %}
    </main>

    {% block foooter %}

        {% include 'global/partials/footer.html' %}
        
    {% endblock foooter %}
    
    {% block scripts %}{% endblock scripts %}
</body>
</html>